<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Upload Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="/"><span class="glyphicon glyphicon-home"></span></a>
                        &nbsp;&nbsp;
                        <strong>Upload Details</strong>
                        <em>(Total plants loaded: {{ metadata['total'] }})</em></h3>
                </div>
                <div class="panel-body">

                    <table class="table table-striped">
                        <thead>
                        <th>Worksheet</th>
                        <th>Plant records</th>
                        <th>Dimensions</th>
                        </thead>
                        <tbody>
                        {% for m in metadata['worksheets'] %}
                            <tr>
                                <td>{{ m }}</td>
                                <td>{{ metadata['worksheets'][m]['rows'] }}</td>
                                <td>{{ metadata['worksheets'][m]['dimensions'][2] }} columns,&nbsp;
                                    {{ metadata['worksheets'][m]['dimensions'][3] }} rows
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if metadata['errors'] %}
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Errors</strong></h3>
                    </div>
                    <div class="panel-body">

                        <table class="table table-striped">
                            <thead>
                            <th>Worksheet</th>
                            <th>Row</th>
                            <th>Error</th>
                            </thead>
                            <tbody>
                            {% for err in metadata['errors'] %}
                                <tr>
                                    <td>{{ err['worksheet'] }}</td>
                                    <td>{{ err['row'] }}</td>
                                    <td>{{ err['error'] }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>
