<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plants Database Search Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <a href="/"><span class="glyphicon glyphicon-home"></span></a>&nbsp; &nbsp;
                    <a href="javascript:history.go(-1)"><span
                            class="glyphicon glyphicon-menu-left"></span></a>

                    <h3 class="panel-title"><strong>{{ plant.common_name }}</strong>
                        <em>({{ plant.botanical_name }})</em></h3>
                </div>
                <div class="panel-body">
                    {% for m in meta %}
                        <strong>{{ m.caption }}</strong>
                        <p>
                            {% if m.key == "flowering_months" %}
                                {% for month in plant[m.key] %}
                                    <a href="/search?q={{ month }}">{{ month }}</a>&nbsp;&nbsp;
                                {% else %}
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                {% endfor %}
                            {% else %}
                                {% set value = plant[m.key] %}
                                {% if value == 'y' or value == 'Y' %}
                                    <span class="glyphicon glyphicon-ok"></span>
                                {% elif value == 'n' or value == 'N' %}
                                    <span class="glyphicon glyphicon-remove"></span>
                                {% else %}
                                    {{ value }}
                                {% endif %}
                            {% endif %}
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
