<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plants Database Search Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
{% if results %}
    <div class="row col-sm-12">
        <div class="alert alert-success" role="alert">
            <a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;</a>
            <strong>Search results</strong>
        </div>
    </div>
    <div class="row col-sm-12">
        <TABLE class="table table-striped table-bordered table-condensed">
            <thead>
            {% for item in meta %}
                <th width="{{ item.width }}">{{ item.caption }}</th>
            {% endfor %}
            </thead>
            <tbody>
            {% for item in results %}
                <tr>
                    {% for m in meta %}
                        {% if m.key in item %}
                            {% if m.key == "description" %}
                                <td>{{ item[m.key][:150] }}...&nbsp;
                                    <a href="/plant/{{ item.id }}">More</a></td>
                            {% elif m.key == "flowering_months" %}
                                <td>
                                {% for month in item[m.key] %}
                                    <a href="/search?q={{ month }}">{{ month }}</a>&nbsp;&nbsp;
                                {% else %}
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                {% endfor %}
                                </td>
                            {% else %}
                                {% set value = item[m.key] %}
                                {% if value == 'y' or value == 'Y' %}
                                    <td><span class="glyphicon glyphicon-ok"></span></td>
                                {% elif value == 'n' or value == 'N' %}
                                    <td><span class="glyphicon glyphicon-remove"></span></td>
                                {% else %}
                                    <td>{{ value }}</td>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {% if m.key == "description" %}
                                <td><a href="/plant/{{ item.id }}">Details</a></td>
                            {% else %}
                                <td>&nbsp;&nbsp;</td>
                            {% endif %}

                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </TABLE>
    </div>
{% else %}
    <tr>
        <div class="alert alert-warning" role="alert">
            <a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;</a>
            <strong>No results!</strong> Your search found no suitable plants.
        </div>
    </tr>
{% endif %}
</body>
</html>
