<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plants Database</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div class="container col-sm-6 col-offset-sm-2">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Plants DB Search</h3>
        </div>
        <div class="panel-body">
            <form action="/search">
                <div class="form-group">
                    <label for="search">Search</label>
                    <input type="text" class="form-control" id="search" name="q"
                           placeholder="enter terms here">
                </div>
                <button type="submit" class="btn btn-sm btn-primary">Search</button>
            </form>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Import External Data</h3>
        </div>
        <div class="panel-body">
            <p class="help-block">To reload the entire database of plants and re-index,
                please select a file from your computer (currently, only Excel
                spreadsheets are supported).</p>

            <form action="/import" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label for="importFile">Import Plants DB from Excel</label>
                    <input type="file" id="importFile" name="importFile">
                </div>
                <button type="submit" class="btn btn-sm btn-primary">Upload</button>
            </form>
            {% if uploaded_file %}
                <p class="text-success" role="alert">
                    <strong>Success!</strong> The file {{ uploaded_file }} was successfully
                    imported. <a href="/uploads/{{ upload_id }}">Details...</a>
                </p>
            {% elif msg %}
                <p class="text-danger" role="alert">
                    <strong>Error</strong> {{ msg }} </p>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>
